#grid {
    display: grid;
    grid-template-columns: repeat(4, 242.5px);
    grid-template-rows: repeat(5, 124px);
    gap: 10px;
}

#grid > div {
    background: green;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 1 */
#grid > div:nth-child(1) {
    grid-column: span 4 / auto;
}

/* 2 */
#grid > div:nth-child(2) {
    grid-row: span 4 / auto;
}

/* 3 */
#grid > div:nth-child(3) {}

/* 4 */
#grid > div:nth-child(4) {
    grid-column: span 2 / auto;
}

/* 5 */
#grid > div:nth-child(5) {
    grid-column: span 2 / auto;
}

/* 6 */
#grid > div:nth-child(6) {}

/* 7 */
#grid > div:nth-child(7) {}

/* 8 */
#grid > div:nth-child(8) {}

/* 9 */
#grid > div:nth-child(9) {}

/* 10 */
#grid > div:nth-child(10) {
    grid-column: span 3 / auto;
}